* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header,
section,
footer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

header {
    height: 100vh;
    background-image: url(../assets/img/hero.jpg);
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 40vw;
    list-style-type: none;
    margin-right: 5vw;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

header h1 {
    color: white;
    font-weight: bold;
}

button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: black;
}


.conteneur {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
}

.sous-conteneur div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.sous-conteneur img {
    width: 25px;
    height: 25px;
}

.social-network-icon:hover {
    transform: scale(1.5);
}

.copyright-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
}

@media screen and (width < 800px) {
    ul {
        width: 100vw;
        margin-right: 0;
    }

    @media screen and (width < 400px) {
        .conteneur {
            flex-direction: column;
        }
    }